.footer__column-link {
  color: white;
  text-decoration: none;
  transition: opacity .5s ease;
}

.footer__column-links:last-of-type {
  padding-bottom: 16px;
}

.footer__column-link:hover {
  opacity: .5;
}