@import url(./__menu/header__menu.css);
@import url(../menu/menu.css);
@import url(../logo/logo.css);
@import url(../logo/_place/logo_place_header.css);
@import url(./__title/header__title.css);
@import url(./__subtitle/header__subtitle.css);
@import url(./__link/header__link.css);
@import url(./__main-illustration/header__main-illustration.css);
@import url(./__square-pic/header__square-pic.css);
@import url(../rotation/rotation.css);

.header {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #f2f2f2;
  opacity: 1;
  margin: 0 auto;
}
