.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  text-decoration: none;
  color: white;
  transition: opacity .5s ease;
}

.footer__author:hover {
  opacity: .5;
}