.khan__buy-link {
  margin: 0;
  line-height: 1.4;
  font-size: 1.875em;
  font-weight: normal;
  color: #2f80ed;
  margin: 0;
  text-decoration: none;
  transition: opacity .5s ease;
}

.khan__buy-link:hover {
  opacity: .5;
}
